  
@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.CategoryName): @Html.DisplayFor(model => model.CategoryName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Category", "Index")