@{
  Layout = "_Layout";
}

<h1>Welcome To The Recipe Box</h1>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>